@use "../../global" as *;

.p-business-partners-contact {
  padding: 90px 20px 80px;
  background-color: $color-white;

  @include mq($bp1024) {
    padding: 85px 20px 70px;
  }

  @include mq($bp767) {
    padding: 70px 20px 60px;
  }

  @include mq($bp499) {
    padding: 60px 16px 50px;
  }

  &__inner {
    max-width: 900px;
    margin-inline: auto;
    text-align: center;
  }

  &__heading {
    text-align: center;
  }

  &__title {
    margin: 0;
    color: $textColor;
    font-size: rclamp(24, 45, 375, 1499);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.06em;
  }

  &__en {
    margin: 8px 0 0;
    color: #036e89;
    font-size: rclamp(13, 15, 375, 1499);
    font-weight: 700;
    line-height: 1.4;
  }

  &__text {
    margin-top: 45px;
    color: $textColor;
    font-size: rclamp(15, 18, 375, 1499);
    font-weight: 400;
    line-height: 2.5;
    letter-spacing: 0.1em;

    @include mq($bp899) {
      line-height: 2;
    }

    @include mq($bp767) {
      margin-top: 35px;
    }

    @include mq($bp499) {
      margin-top: 22px;
      text-align: left;
    }
  }
}
