@use "../../global" as *;

.p-recruit-intro {
  background-color: $color-white;

  &__message {
    padding: 90px 20px 80px;
    text-align: center;

    @include mq($bp1024) {
      padding: 80px 20px 70px;
    }

    @include mq($bp767) {
      padding: 65px 20px 60px;
    }

    @include mq($bp499) {
      padding: 55px 16px 50px;
    }
  }

  &__title {
    margin: 0;
    color: $color-blue;
    font-size: rclamp(24, 42, 360, 1920);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  &__text {
    margin-top: 50px;
    color: $textColor;
    font-size: rclamp(14, 16, 360, 1920);
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.1em;

    @include mq($bp767) {
      margin-top: 35px;
    }

    @include mq($bp499) {
      text-align: left;

      br {
        display: none;
      }
    }

    p {
      margin: 0;

      & + p {
        margin-top: 40px;

        @include mq($bp767) {
          margin-top: 20px;
        }
      }
    }
  }

  &__appeal {
    padding: 85px 20px 90px;
    border-top: 9px solid #d7d7d7;

    @include mq($bp1024) {
      padding: 75px 20px 80px;
    }

    @include mq($bp767) {
      padding: 60px 20px 70px;
    }

    @include mq($bp499) {
      padding: 55px 16px 60px;
    }
  }

  &__appeal-title {
    margin: 0;
    color: $color-blue;
    font-size: rclamp(24, 42, 360, 1920);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

  &__appeal-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 950px;
    margin: 65px auto 0;

    @include mq($bp1024) {
      gap: 20px;
      margin-top: 50px;
    }

    @include mq($bp767) {
      gap: 15px;
      margin-top: 40px;
    }

    @include mq($bp499) {
      grid-template-columns: 1fr;
      gap: 15px;
      max-width: 360px;
      margin-top: 35px;
    }
  }

  &__appeal-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 160px;
    padding: 30px;
    background: linear-gradient(39deg, #036e89 0%, #182980 89%);

    @include mq($bp1024) {
      min-height: 160px;
    }

    @include mq($bp767) {
      min-height: 140px;
      padding: 16px;
    }

    @include mq($bp499) {
      min-height: auto;
    }
  }

  &__appeal-text {
    margin: 0;
    color: $color-white;
    font-size: rclamp(16, 22, 360, 1920);
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.1em;
    text-align: center;
  }
}
