@use "../../global" as *;

.p-thanks {
  padding: 100px 20px 110px;
  background-color: $color-white;

  @include mq($bp1024) {
    padding: 90px 20px 100px;
  }

  @include mq($bp767) {
    padding: 70px 20px 80px;
  }

  @include mq($bp499) {
    padding: 60px 16px 70px;
  }

  &__inner {
    max-width: 1000px;
    margin-inline: auto;
    text-align: center;
  }

  &__title {
    margin: 0;
    color: $color-blue;
    font-size: rclamp(24, 41, 360, 1920);
    font-weight: 700;
    line-height: 1.5;
  }

  &__text {
    margin: 20px 0 0;
    color: $textColor;
    font-size: rclamp(15, 18, 360, 1920);
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.1em;

    @include mq($bp767) {
      margin-top: 30px;
    }

    @include mq($bp499) {
      margin-top: 25px;
      text-align: left;
    }

    p {
      margin: 0;

      & + p {
        margin-top: 5px;

        @include mq($bp499) {
          margin-top: 12px;
        }
      }
    }
  }

  &__button {
    margin-top: 65px;

    @include mq($bp767) {
      margin-top: 50px;
    }

    @include mq($bp499) {
      margin-top: 40px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    min-height: 60px;
    margin-inline: auto;
    padding: 4px 30px;
    color: $color-white;
    background-color: $color-blue;
    font-size: rclamp(18, 25, 360, 1920);
    font-weight: 400;
    line-height: 1.5;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    @include mq($bp499) {
      width: 100%;
      max-width: 330px;
      min-height: 65px;
    }
  }
}
