@use "../../global" as *;

.p-top-about {
  padding-block: 100px;

  @include mq($bp1040) {
    padding-block: 80px;
  }

  @include mq($bp767) {
    padding-block: 70px;
  }

  @include mq($bp499) {
    padding-block: 60px;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 60px;

    @include mq($bp1499) {
      gap: 40px;
    }

    @include mq($bp1040) {
      gap: 20px;
    }

    @include mq($bp767) {
      display: block;
    }
  }

  &__image {
    width: 48%;
    flex-shrink: 0;

    @include mq($bp767) {
      width: 100%;
    }
  }

  &__image-item {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__content {
    flex: 1;
    max-width: 480px;

    @include mq($bp767) {
      margin-top: 35px;
      padding: 0 20px;
    }

    @include mq($bp499) {
      margin-top: 28px;
      padding: 0 16px;
    }
  }

  &__title {
    margin: 0;
    color: $color-blue;
    font-size: rclamp(24, 42, 360, 1920);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.02em;
    white-space: nowrap;
    @include mq($bp1499) {
      white-space: normal;
    }
  }

  &__text {
    margin-top: 35px;
    color: $textColor;
    font-size: rclamp(14, 18, 360, 1920);
    font-weight: 400;
    line-height: 2.5;
    letter-spacing: 0.1em;

    @include mq($bp899) {
      margin-top: 20px;
      line-height: 2;
    }

    @include mq($bp499) {
      margin-top: 16px;
    }

    p {
      margin: 0;

      & + p {
        margin-top: 14px;

        @include mq($bp767) {
          margin-top: 12px;
        }
      }
    }
  }
}
