@use "../../global" as *;

.c-button {
  width: 175px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  color: $color-white;
  background-color: $color-blue;
  font-size: rclamp(14, 16, 360, 1920);
  font-weight: 600;
  line-height: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &__arrow {
    font-size: rclamp(16, 18, 360, 1920);
    font-weight: 300;
    line-height: 1;
  }
  &--line {
    background-color: #06c755;
  }
}
