@use "../../global" as *;

.c-contact-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;

  @include mq($bp767) {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 85px;
    padding: 20px 36px;
    color: $color-white;
    background-color: $color-blue;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    @include mq($bp1024) {
      gap: 20px;
      padding: 20px;
    }

    @include mq($bp767) {
      min-height: 75px;
    }

    @include mq($bp499) {
      min-height: 55px;
      gap: 15px;
      padding: 15px 20px;
    }
  }

  &__icon {
    display: block;
    width: auto;
    height: auto;
    flex-shrink: 0;

    &--mail {
      width: 48px;

      @include mq($bp499) {
        width: 40px;
      }
    }

    &--tel {
      width: 30px;

      @include mq($bp499) {
        width: 25px;
      }
    }
  }

  &__text {
    color: $color-white;
    font-size: rclamp(16, 25, 375, 1499);
    font-weight: 700;
    white-space: nowrap;
  }
  &__text--tel {
    font-size: rclamp(19, 32, 375, 1499);
    letter-spacing: 0.1em;
  }
}
